<div class="mx-auto">
    <div class="card">
        <div class="card-header">
            Login to Woofer
        </div>
        <div class="card-body" (keydown.enter)="submit()">
            <div *ngIf="errorState" class="error">
                {{errorMessage}}
            </div>
            <label>
                Username:<br>
                <input type="text" [formControl]="username">
            </label>
            <br><br>
            <label>
                Password:<br>
                <input type="password" [formControl]="password">
            </label>
            <br><br>
            <p>
                <button (click)="submit()" class="btn btn-primary">Login</button>
            </p>
            <a [routerLink]="[ '/signup' ]">signup</a>
        </div>
    </div>
</div>