<div class="d-flex flex-column w-600 p-t-12 p-x-16 border-grey">
  <div>
    <span class="bold">{{ post.name }} </span>
    <span class="text-secondary">
      <span> @{{ post.username }} </span>
      <span> · </span>
      <span *ngIf="timestamp"
        >{{ months[timestamp.getMonth()] }} {{ timestamp.getDate() }}</span
      >
    </span>
  </div>
  <div class="p-b-12">
    <div class="font-size-15">
      {{ post.body }}
    </div>
    <div class="d-flex space-between m-t-12 text-secondary">
      <div class="comment">
        <i class="far fa-comment" (click)="showComments()">
          <span *ngIf="!showComment">
            {{ this.totalComments }}
          </span>
        </i>
        <span class="p-x-12 f-13" *ngIf="showComment">
          <textarea
            name="commentInput"
            type="text"
            maxlength="280"
            class="no-resize p-t-16 p-b-8 borderComments 1px w-100"
            [(ngModel)]="commentBody"
          ></textarea>
          <button (click)="commentBtn()">Comment</button>
        </span>
      </div>
      <div class="retweet">
        <i class="fas fa-retweet"></i>
        <span class="p-x-12 f-13"> 2.9k</span>
      </div>
      <div class="like">
        <i *ngIf="isLiked" class="fas fa-heart" (click)="unLike()"></i>
        <i *ngIf="!isLiked" class="far fa-heart" (click)="like()"></i>
        <span class="p-x-12 f-13">{{ post.likes }}</span>
      </div>
    </div>
    <br />
    <div *ngIf="personalPost" (click)="remPost()">
      click here to delete the post
    </div>
  </div>
  <div class="p-y-12" *ngIf="isMainPage">
    <a [routerLink]="[post.id]">Show this thread</a>
  </div>
</div>
