<div class="container mx-auto">
  <div class="btn btn-primary round" *ngIf="isLoggedUser" (click)="logout()">
    logout
  </div>
  <div class="d-flex justify-content-center w-100">
    <div class="d-flex flex-column">
      <app-profile [loggedUserId]="this.user.id"></app-profile>
      <app-woof *ngIf="isLoggedUser" (postMade)="getPosts()"></app-woof>
      <app-post
        *ngFor="let post of posts$ | async"
        [post]="post"
        [userId]="this.user.id"
        (postDeleted)="getPosts()"
        [isMainPage]="true"
      ></app-post>
      <app-woof *ngIf="isLoggedUser" (postMade)="getPosts()"></app-woof>
    </div>
  </div>
</div>
