<!-- <table *ngIf="userExists">
  <tr>
    <td>
      <div class="content">
        <h4>New Post</h4>
        <br />
        <textarea maxlength="280" cols="130" [(ngModel)]="body"></textarea>
        <button *ngIf="body" (click)="submit()">Post</button>
      </div>
    </td>
  </tr>
</table> -->
<div class="d-flex flex-column w-600 p-t-12 p-x-16 m-b-16 border-grey">
  <div>
    <span class="bold">Barack Obama </span>
    <span class="text-secondary">
      <span> @Barack Obama </span>
      <span> · </span>
      <span>May 25</span>
    </span>
  </div>
  <div class="p-b-12">
    <div class="font-size-15">
      When injustice runs deep, progress takes time. But if we can turn words
      into action and action into meaningful reform, we will, in the words of
      James Baldwin, “cease fleeing from reality and begin to change it.”
    </div>
    <div class="d-flex space-between m-t-12 text-secondary">
      <div class="comment">
        <i class="far fa-comment"></i>
        <span class="p-x-12 f-13"> 502</span>
      </div>
      <div class="retweet">
        <i class="fas fa-retweet"></i>
        <span class="p-x-12 f-13"> 2.9k</span>
      </div>
      <div class="like">
        <i class="far fa-heart"></i>
        <span class="p-x-12 f-13">36.4k</span>
      </div>
    </div>
  </div>
  <div class="p-y-12">
    <a href="#">Show this thread</a>
  </div>
</div>
