<!-- <div class="content">
  <h3>Total followers: followerCount</h3>
</div> -->

<div class="container mx-auto" style="border: 1px solid black">
  <div class="d-flex justify-content-center w-100">
    <div
      class="d-flex flex-column w-600 p-t-12 p-x-16 m-b-16"
      style="border: 1px solid red"
    >
      <div class="d-flex space-between m-t-4 m-b-12">
        <div>
          <div class="f-20 bold">Name</div>
          <div class="font-size-15 text-secondary">@Name</div>
        </div>
        <div>
          <button class="btn btn-primary-inverted round m-b-12">Follow</button>
        </div>
      </div>
      <div>Description</div>
      <div>Stats</div>
      <div>Followers</div>
    </div>
  </div>
</div>
