:root {
  --main-color: hsl(45, 100%, 55%);
  --light-main-color: hsl(45, 100%, 95%);
}

body {
  box-sizing: border-box;
  color: rgb(15, 20, 25);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: var(--main-color);
}

a:hover {
  color: hsl(25, 100%, 55%);
  text-decoration: none;
}

.primary-flex {
  align-items: stretch;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
  margin: 0px;
  padding: 0px;
}

.flex-auto {
  flex: 1 1 auto;
}

.row-reverse {
  -webkit-box-direction: reverse;
  -webkit-box-orient: horizontal;
  flex-direction: row-reverse;
}

.flex-row {
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.justify-content-center {
  -webkit-box-pack: center;
  justify-content: center;
}

.min-width-45vw {
  min-width: 45vw;
}

.min-width-56 {
  min-width: 56px;
}

.min-width-437 {
  min-width: 437px;
}

.min-height-45vh {
  min-height: 45vh;
}

.min-height-884 {
  min-height: 884px;
}

.min-height-full {
  min-height: 100vh;
}

.min-height-auto {
  min-height: auto;
}

.max-width-400 {
  max-width: 400px;
}

.max-width-760 {
  max-width: 760px;
}

.p-16 {
  padding: 16px;
}

.p-20 {
  padding: 20px;
}

.p-b-8 {
  padding-bottom: 0.5rem;
}

.p-b-12 {
  padding-bottom: 12px;
}

.p-t-8 {
  padding-top: 0.5rem;
}

.p-t-12 {
  padding-top: 12px;
}

.p-t-16 {
  padding-top: 1rem;
}

.p-x-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.p-x-12 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.p-x-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.p-x-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.p-y-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.m-b-12 {
  margin-bottom: 12px;
}

.m-b-16 {
  margin-bottom: 1rem;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-4 {
  margin-top: 0.25rem;
}

.m-t-8 {
  margin-top: 8px;
}

.m-t-12 {
  margin-top: 0.75rem;
}

.m-t-16 {
  margin-top: 16px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-32 {
  margin-top: 32px;
}

.m-t-64 {
  margin-top: 64px;
}

.m-l-16 {
  margin-left: 1rem;
}

.m-l-48 {
  margin-left: 3rem;
}

.nm-l-16 {
  margin-left: -1rem;
}

.nm-r-16 {
  margin-right: -1rem;
}

.m-r-20 {
  margin-right: 1.25rem;
}

.m-x-16 {
  margin-left: 16px;
  margin-right: 16px;
}

.m-x-32 {
  margin-left: 32px;
  margin-right: 32px;
}

.m-y-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.m-y-48 {
  margin-bottom: 48px;
  margin-top: 48px;
}

.height-53 {
  height: 53px;
}

.h-100 {
  height: 100%;
}

.min-width {
  min-width: 56px;
}

.w-584 {
  width: 584px;
}

.w-600 {
  width: 600px;
}

.w-100 {
  width: 100%;
}

.letter-spacing {
  letter-spacing: -1.2px;
}

.bold {
  font-weight: 700;
}

.line-height-36 {
  line-height: 36px;
}

.line-height-84 {
  line-height: calc(84px);
}

.f-13 {
  font-size: 13px;
}

.font-size-15 {
  font-size: 15px;
}

.f-20 {
  font-size: 1.25rem;
}

.font-size-23 {
  font-size: 23px;
}

.font-size-31 {
  font-size: 31px;
}

.font-size-64 {
  font-size: 64px;
}

.overflow-wrap {
  overflow-wrap: break-word;
}

.min-width-0 {
  min-width: 0;
}

.height-3rem {
  height: 3rem;
}

.align-self-start {
  align-self: flex-start;
}

.round {
  border-radius: 9999px;
}

.join-woofer {
  margin-bottom: 32px;
  line-height: 36px;
  font-size: 31px;
  font-weight: 700;
  overflow-wrap: break-word;
  min-width: 0px;
}

.dark-button {
  cursor: pointer;
  outline-style: none;
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
  min-width: calc(77.28px);
  min-height: 48px;
  background-color: var(--main-color);
  max-width: 380px;
  height: 0px;
  user-select: none;
  padding-left: 32px;
  padding-right: 32px;
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
  border-style: solid;
  border-radius: 9999px;
  flex: 1;
}

.white-text {
  color: rgb(255, 255, 255);
}

.light-button {
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  outline-style: none;
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
  min-width: calc(77.28px);
  min-height: 48px;
  max-width: 380px;
  height: 0px;
  user-select: none;
  padding-left: 32px;
  padding-right: 32px;
  border-color: var(--main-color);
  border-width: 1px;
  border-style: solid;
  border-radius: 9999px;
  flex: 1;
}

.main-color-text {
  color: var(--main-color);
}

.button {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  overflow-wrap: break-word;
  min-width: 0px;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  -webkit-box-pack: center;
  flex-grow: 1;
  -webkit-box-flex: 1;
  flex-direction: row;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  text-align: center;
  max-width: 100%;
  display: flex;
}

.cover-image {
  background-image: url("./assets/dogecoin.png");
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 800px -300px;
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
}

.paw-logo {
  width: 40px;
  height: auto;
}

.input-border {
  border-radius: 4px;
  border: 1px solid rgb(196, 207, 214);
}

.input-border:focus {
  border-color: var(--main-color);
  outline: none;
}

.input-label-text {
  padding-top: 16px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 17px;
  line-height: 24px;
  color: rgb(91, 112, 131);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.no-border {
  border: none;
}

.no-border:focus {
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.btn-primary:hover {
  background-color: hsl(35, 100%, 55%);
  border-color: hsl(35, 100%, 55%);
}

.btn-primary-inverted {
  color: var(--main-color);
  background-color: #fff;
  border-color: var(--main-color);
}

.btn-primary-inverted:hover {
  color: var(--main-color);
  background-color: var(--light-main-color);
}

.border-grey {
  border: 1px solid rgb(235, 238, 240);
}

.comment:hover {
  color: var(--main-color);
}

.retweet:hover {
  color: hsl(95, 100%, 55%);
}

.like:hover {
  color: hsl(5, 100%, 55%);
}

.no-resize {
  resize: none;
}
